<a href="https://colab.research.google.com/github/shivam361v/Flower-mart-/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name ?");
print("Hello", name);

Enter your name ?Shivam
Hello Shivam

In [ ]:
age = 24
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [ ]:
ShoppingList = input("Enter item to shop from market");
qty = [1, 2, 3, 4, 5];
name = ("Shivam", "Vishwakarma");
statement = "{} will go to market to buy {}";
for x in qty:
  print(x);
if "Shivam" in name:
  print("Yes, lets go to market");
print( name[1]);
print(name[1].upper());
print(name[0].split('v'));
print(statement.format(name[0], name[1]));

Enter item to shop from marketapple banana
1
2
3
4
5
Yes, lets go to market
Vishwakarma
VISHWAKARMA
['Shi', 'am']
Shivam will go to market to buy Vishwakarma

In [ ]:
sum = 10 + 20;
powers = 10 ** 2;
name1 = "shivam";
name2 = "Shivam";
if sum <= powers :
  print('true');
if 's' in name1:
  print("Name contains letter 's' ");
if name1 is name2:

  print("Both names are the same");

true
Name contains letter 's'

In [ ]:
#List in python
l1 = [1, 2, 3, 4, 5];
for i in l1:
  print(i);
l1.append(6);
for i in l1:
  print(i);
l1.clear()
for i in l1:
  print(i);

1
2
3
4
5
1
2
3
4
5
6

In [ ]:
#Tuple in python
l2 = (1, 2, 3, 4);
for i in l2:
  print(i);

l2 = list(l2);
l2[3] = 5;
l2 = tuple(l2);

for i in l2:
  print(i);
del l2;

for i in l2:
  print(i);

1
2
3
4
1
2
3
5

NameError: ignored

In [ ]:
#Set in python

l3 = {1, 2, 3};
for i in l3:
  print(i);

l3.add(3);

for i in l3:
  print(i);

1
2
3
1
2
3

In [ ]:
# Conditional and loops

numbers = [1, 2, 3 , 4, 5 ];

for i in numbers :
  if i % 2 == 0:
    print("Even");
  else:
    print("Odd");

  if(i == 3):
    continue;
  if(i == 5):
    break;
  print(i);

Odd
1
Even
2
Odd
Even
4
Odd

# New Section

# New Section

In [ ]:
def function():
  print("This is first function");
function()

This is first function

print("Black dove, where are you going ?")

number = 10
type(number)

In [ ]:
number = 10
type(number)

int

In [ ]:
str(number)

'10'

In [ ]:
def greeting(name):
  print("Ram Ram " + name)

def AreaOfTriangele(n1, n2):
  return 0.5 * n1 * n2


greeting('shivam')
AreaOfTriangele(10, 20)

Ram Ram shivam

100.0

In [ ]:
print('cat' < 'dog')

True

In [ ]:
print(1 != "1")

True

In [ ]:
print("Y" > "C " and "B" > "M")

False

In [ ]:
print( not 42 == "Ans")

True

In [ ]:
def do_even(number):
  return 0 == number % 2

do_even(0)

True

In [ ]:
x = 0
while (x < 5):
  #print("x = " + str(x))
  x += 1
  print("x = " + str(x))

x = 1
x = 2
x = 3
x = 4
x = 5

In [ ]:
import random

random_number = random.randint(1, 10)
number_of_guess = 0

while (number_of_guess < 5):
  number = input()
  number = int(number)
  number_of_guess += 1
  if(number == random_number):
    print("You guessed right.")
    break
  elif(number_of_guess >= 5):
    print("Try again chance over.")
    break

4
5
You guessed right.

In [ ]:
def to_celsius(temperature):
  return ((temperature - 32) * 5) / 9

for i in range(0, 100, 10):
  print(round(to_celsius(i)), 2)

-18 2
-12 2
-7 2
-1 2
4 2
10 2
16 2
21 2
27 2
32 2

In [ ]:
name = "shivam \n"  #String multiplication
print(name * 5)

shivam
shivam
shivam
shivam
shivam

In [ ]:
for i in name:
  print(i + " \n")

s

h

i

v

a

m

In [ ]:
name.index('s')

0

In [ ]:
name[1]

'h'

In [ ]:
name[-3]

'm'

In [ ]:

print(name[1:m 3])

hi

In [ ]:
"va" in name

True

In [ ]:
print("my name is {}".format(name))

my name is shivam

In [ ]:
print("i have ${} rupee".format(500))

i have $500 rupee

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
accessories =["bag", "laptop", "phone", "earbuds", "wallet", "speaker", "snacks"]
print(accessories[-1])

snacks

In [ ]:
print(accessories[10])

IndexError: list index out of range

In [ ]:
print(accessories[1: 3])

['laptop', 'phone']

In [ ]:
print(accessories[:5])

['bag', 'laptop', 'phone', 'earbuds', 'wallet']

In [ ]:
type(accessories)

list

In [ ]:
"shoe" in  accessories

False

In [ ]:
accessories.append("shoes")

In [ ]:
accessories.insert(0, "chocolates")
print(accessories)

['chocolates', 'chocolates', 'bag', 'laptop', 'phone', 'earbuds', 'wallet', 'speaker', 'snacks', 'shoes']

In [ ]:
accessories.remove('bag')
print(accessories)

['chocolates', 'chocolates', 'laptop', 'phone', 'earbuds', 'wallet', 'speaker', 'snacks']

In [ ]:
accessories.pop()
print(accessories)

['chocolates', 'chocolates', 'laptop', 'phone', 'earbuds', 'wallet', 'speaker']

In [ ]:
accessories[1] = "DarkChocolate"
print(accessories)

['chocolates', 'DarkChocolate', 'laptop', 'phone', 'earbuds', 'wallet', 'speaker']

In [ ]:
horse_power = "746"
horse_power = horse_power + " watt"
print(horse_power)

746 watt

In [ ]:
name = ("shivam", "vishwakarma")
print(name)

('shivam', 'vishwakarma')

In [ ]:
contact = name + ("7999", )
print(contact)

('shivam', 'vishwakarma', '7999')

In [ ]:
accessories = tuple(accessories)
print(accessories)

('chocolates', 'DarkChocolate', 'laptop', 'phone', 'earbuds', 'wallet', 'speaker')

In [ ]:
def to_paise(price):
  rupee = int(price // 1)
  paisa = (price % 100)
  return rupee, paisa

In [ ]:
print(to_paise(100.05))

(100, 0.04999999999999716)

In [ ]:
rate_list = {
    "ultra_sonic" : 200,
    "pir" : 150,
    "ardino" : 600,
    "rasbarry_pi" : 5000
}
print(rate_list['pir'])

150

In [ ]:
print("pir" in rate_list)

True

In [ ]:
team = {
    ('shivam', 24, 'badminton'),
    ('ajit', 24, 'gym'),
    ('bunty', 26, 'gym')
}

new_team = {}

for name, age, hobby in team:
  if hobby in new_team:
    new_team[hobby].append((name, age))
  else:
    new_team[hobby] = [(name, age)]

print(new_team)

{'badminton': [('shivam', 24)], 'gym': [('ajit', 24), ('bunty', 26)]}

In [ ]:
print(new_team['badminton'])

[('shivam', 24)]

In [1]:
import numpy as np

arr = np.array([1, 2, 3, 4])
type(arr)

numpy.ndarray